body {
    margin: 0;
    padding: 0;
    font-family: 'Impact', sans-serif;
    background-color: #dcdcdc;
    color: #ddd;
  }
  
/* Header */
  header {
    background-color: #4a80a6;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
 header h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Impact', sans-serif;
  }
  
  .menu-icon, .profile-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .menu-icon {
    margin-right: 15px;
  }

  .profile-icon img {
    width: 35px;         /* oder 40px, je nach Wunsch */
    height: 35px;
    border-radius: 50%;  /* rundes Profilbild */
    object-fit: cover;   /* sauberer Zuschnitt */
    cursor: pointer;
  }
   
  .menu-icon img {
    width: 35px;         /* oder 40px, je nach Wunsch */
    height: 32px;  
    cursor: pointer;
  }


/* Formular-Stil */
  form#registerForm {
    max-width: 400px;
    margin: 80px auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dictionary-list {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 80px); /* Full height minus header */
  margin-left: 300px;
  margin-right: 300px;
}

.entry {
  background-color: #f8f8f8;
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.word {
  padding: 18px;
  font-size: 24px;
  font-weight: bold;
  color: #2d5975;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.definition {
  display: none;
  padding: 16px;
  background-color: #4a80a6;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-family: Arial, sans-serif;
}

.arrow {
  font-size: 1.2rem;
}
 

h1 {
    text-align: center;
    margin-top: 100px;
    color: #4a80a6;
    font-family: 'Impact', sans-serif;
    font-weight: bold;
    font-size: 36px;
  }
  /* Registrierungshinweis */
