/* Grundlayout */
body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    font-family: 'Impact', sans-serif;
    color: #4a80a6;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Header */
  header {
    background-color: #4a80a6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  .menu-icon, .profile-icon {
    font-size: 28px;
    cursor: pointer;
  }

  .profile-icon img {
    width: 35px;         /* oder 40px, je nach Wunsch */
    height: 35px;
    border-radius: 50%;  /* rundes Profilbild */
    object-fit: cover;   /* sauberer Zuschnitt */
    cursor: pointer;
  }
  
  .menu-icon img {
    width: 35px;         /* oder 40px, je nach Wunsch */
    height: 32px;  
    cursor: pointer;
  }